@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


::-webkit-scrollbar {
  width: 6px;  
  height: 1px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
.escienza-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}